@mixin scsslider(
  $image-urls,
  $slide-animation-time: 2,
  $delay: 2,
  $timing-function: ease
) {
  $number-of-slides: length($image-urls);
  $total-animation-time: ($slide-animation-time + $delay) * $number-of-slides;

  $max: 10000;
  $slider-id: random($max);

  & {
    animation: (scsslider- + $slider-id) ($total-animation-time + s)
      $timing-function infinite;
  }

  @keyframes scsslider-#{$slider-id} {
    $delay-percent: ($delay / $total-animation-time) * 100;
    $slide-animation-percent: ($slide-animation-time / $total-animation-time) *
      100;

    $current: 0;

    @each $url in $image-urls {
      #{$current}%,
      #{$current + $delay-percent}% {
        background-image: url($url);
      }

      $current: $current + $delay-percent + $slide-animation-percent;
    }

    100% {
      $firstUrl: nth($image-urls, 1);

      background-image: url($firstUrl);
    }
  }
}
